body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-shadow: 2px 2px 5px turquoise;
}
h2 {
  text-shadow: 2px 2px 5px purple;
}
button {
  background-color:azure;
  font: bold;
}